      /*Default setting*/
       
      *{
            font-family: "Encode Sans Expanded","Noto Sans Tc";
            box-sizing:border-box; 
        }
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        ul,
        ol,
        li{
            margin: 0;
            padding: 0;
        }
        .clearfix::after{
            content: "";
            display: block;
            clear: both;
        }

        img{
            width: 100%;
            vertical-align: top;
        }

        p{
          color: #0d31c7;  
          line-height: 2;
        }        